.label {
    position: relative;
    background: #000;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    z-index: 2;

    color: #fff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &--min {
        width: 76px;
    }

    &--white {
        background-color: #fff;
        color: #000;
    }
}